@import "../../assets/scss/styleSASS.scss";

.aside-menu{
    width: $sidebar-width;
    background-color: $primary-color;
    margin-top: 6px;
    display: block;

    &__item{
        display: flex;
        align-content: center;
        padding: 15px 10px;
        margin: 0;
        border-bottom: 2px solid $grey-700;

        svg{
            color: $grey-700;
            margin: 0;
            padding: 0;
        }

        &__title{
            margin: 0;
            padding: 0;
            margin-left: 10px;
            font-size: 19px;
            font-weight: 100;
            color: $white-normal;
            text-decoration: none;

            &:hover{
                color: $white-normal;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}